:root {
  --background1: #02020A; 
  --background2: #A2A2A2 ;
  --background3: #DADADA;
  --background4: #FFFDF7;   
  --border1: #1414b841;
  --border2: #FFFDF7;
  --accent1: #31C4C5;
  --accent1hover: #0194AB; 
  --accent2: #FF0054;
  --accent3: #D80757; 
  --accent4: #910030;
  --text1: #02020A;
  --text2: #303030;
  --text3: #FFFDF7;
  --headingText: 'Mansalva', sans-serif;
  --contentText: 'Patrick Hand', sans-serif;
  --borderRadius: 8px; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.25px;
}

h1, h2, h3, h4 {
  font-family: var(--headingText);
}

a, li, p, span, #hamburger-button, figcaption, table, form, .make-a-reservation-button, .send-a-message-button {
  font-family: var(--contentText); 
  font-size: 1.3rem;
}

h2, i {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* banner message */

.high-temperature-message {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent1);
  color: var(--text1);   
  padding: 0.5rem;
  /* z-index: 1;
  position: absolute; */
  width: 100%;
  text-align: center;  
}

.close-banner {
  cursor: pointer;
  font-weight: 600; 
}

.hide-banner {
  display: none;
} 

/* header */

header {
  background-color: var(--background1);
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 0.8rem 1rem; 
  color: var(--text3);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  margin-left: 0.8rem;    
}

.header-logo img {
  display: block;
  width: 80px;
  height: 80px; 
  border: 3px solid var(--accent2);
  border-radius: 50%;  
}

.header-logo img:hover {
  box-shadow: 0 0 10px var(--accent2);
}

#hamburger-button, #menu-close-button {
  width: 35px;
  height: 35px;
  border-radius: var(--borderRadius);
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
}

#hamburger-button {
  background-color: transparent;
  border: 3px solid var(--border2);
  color: var(--text3);   
}

#hamburger-button::before {
  content: "≡";  
}

.navigation div {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 1rem; 
  border-bottom: 1px solid var(--accent2)  
}

.navigation p {
  color: var(--text3);
  font-weight: 600;
}

#menu-close-button { 
  display: block;
  border: 3px solid var(--accent2);  
  color: var(--accent2);     
}

#facebook-logo {
  width: 40px;
  height: 40px;
}

body.hidden {
  overflow: hidden;
}

.navigation {    
  background-color: var(--background1);
  position: absolute;
  top: -100%;  
  left: 0;
  height: 100%;
  width: 100%;
  transition: top 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
}

.navigation ul {
  list-style-type: none;
  display: none;
}

.navigation li {
  padding: 1rem;  
}

.navigation a {
  color: var(--text3);
  text-decoration: none;    
}

.navigation a:hover {
  border-bottom: 3px solid var(--accent2);   
} 

.active {
  border-bottom: 3px solid var(--accent2);   
}

.navigation li:last-of-type a:hover {
  border-bottom: none;   
}

.open {
  top: 0;
}

.open.navigation ul {
  display: block;
}

/* hero */

.hero {  
  position: relative;
  height: 50vh;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-label { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem ;
  width: 100%;
  text-align: center;
}

.hero-label h2, .hero-label p, .hero-label a {  
  color: var(--text3);  
}

.hero-label a {
  background-color: var(--accent2);
  border-radius: 6px;
  padding: 0.6rem 2rem;
  text-decoration: none;
  width: fit-content;  
  margin: 0 auto;  
  box-shadow: 4px 4px 10px var(--background1);

}

.hero-label a:hover {  
  box-shadow: 0 0 10px var(--accent2);
}

.hero-label a:visited {
  color: var(--text3);
}

/* waves */

.wave-separator-1 {
  position: absolute;
  width: 100%;
  bottom: 0; 
  display: block;
}

.wave-separator-1 img {
  display: block;
  filter: brightness(1);   
}

/* rentals */

.rentals {  
  background-color: var(--accent1);   
  color: var(--text1);
  text-align: center;
  padding: 3rem 1rem; 
  position: relative;  
  z-index: -1;
}

.rentals i {
  font-size: 5rem;
  color: var(--accent2);
}

.rentals div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;   
}

.rentals section {
  background-color: var(--background3); 
  border: 3px solid var(--background1);
  border-radius: var(--borderRadius); 
  z-index: 1;
  /* margin: 0 1rem; */
}

.rentals h3 {
  background-color: var(--background1);
  color: var(--text3);
  padding: 0.6rem;
}

.rentals-list {
  list-style-position: inside;   
  line-height: 2.5rem;
  padding: 1rem;
}

.rentals-list li::marker {
  content: "▶ ";
  color: var(--accent2);
  font-weight: 600;
}

.wave-separator-2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.wave-separator-2 img {
  display: block;
}

/* adventures */

.adventures {   
  background-image: url("../images/background-doddle.webp");
  background-color: var(--background3);
  text-align: center;
  padding: 3rem 1rem;
  position: relative; 
}

.adventures h2 {
  margin-bottom: 1rem;
}

.adventures i {
  font-size: 5rem;
  color: var(--accent2);
  margin-bottom: 2rem;
}

.adventures-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  line-height: 2.5rem; 
}

.adventures-image-content-1, .adventures-image-content-2 {
  position: relative;
  padding: 1rem 1rem 7.5rem 1rem; 
  background-color: var(--background4);
  border: 3px solid var(--background1);
}

.adventures-image-content-1 img, .adventures-image-content-2 img  {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  margin-bottom: 1rem;  
}

.polaroid-1 div h3, .polaroid-2 div h3 {
  margin-bottom: 1rem;
}

.polaroid-1 div, .polaroid-2 div {
  margin-bottom: 1rem;
  line-height: 2.5rem;
} 

.polaroid-1 span, .polaroid-2 span {
  font-size: 2.5rem;
}

.polaroid-1 hr, .polaroid-2 hr {
  border: 2px solid var(--accent2);
  margin-bottom: 1rem;
}

.wave-separator-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* weather */

.weather {
  background-color: var(--accent1);
  padding: 3rem 1rem;
  text-align: center;
  line-height: 2.5rem;
}

.weather h2 {
  margin-bottom: 1rem;
}

.weather i {
  font-size: 5rem;
  color: var(--accent2);
  margin-bottom: 2rem;
}

.weather-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;  
}

#temperature, #next-day-temperature {
  font-size: 2.5rem;
  font-weight: 600
}

.today-forecast, .next-day-forecast {
  /* background-color: var(--background3); */
  /* border: 3px solid var(--background1); */
  border-radius: var(--borderRadius); 
}

/* prices */

.prices {  
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;  
  background-image: url("../images/background-doddle.webp"); 
  background-color: var(--background4); 
  position: relative;
}

.prices h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.prices h2 span {
  color: var(--accent2);
}

/* Esta regla es para centrar en large view */
.centered-container {
  max-width: 1200px;
  margin: 0 auto; 
}

.rentals-prices { 
  border-collapse: collapse;
  text-align: center;
}

.rentals-prices, .rentals-prices th, .rentals-prices td {
  border: 3px solid var(--background1)
}

.rentals-prices tr:first-child th:first-child {
  background-color: var(--background1);
  color: var(--text3); 
}

  .rentals-prices tr:nth-child(2) th, 
  .rentals-prices tr:nth-child(3) th
  {
    background-color:var(--background1);
    color: var(--text3);
    /* border-bottom: 2px solid var(--background1);
    border-right: 2px solid var(--background1); */
  }

  /* .rentals-prices tr:nth-child(2) th:last-child,
  .rentals-prices tr:nth-child(3) th:last-child 
  {
    border-right: 0;
  }

  .rentals-prices td:nth-child(1),
  .rentals-prices td:nth-child(2),
  .rentals-prices td:nth-child(3),
  .rentals-prices td:nth-child(4),
  .rentals-prices td:nth-child(5),
  .rentals-prices td:nth-child(6) {  
    border-right: 2px solid var(--background1);
    border-bottom: 2px solid var(--background1);
  }

.rentals-prices td:nth-child(6) {
  border-right: 0;  
} */

/* How to add border radius on table row */
/* https://tinyurl.com/3vtbnct8 */
/* .rentals-prices tr:first-child th:first-child {
  border-top-left-radius: var(--borderRadius);
}

.rentals-prices tr:first-child th:last-child {
  border-top-right-radius: var(--borderRadius);
}

.rentals-prices tr:last-child td:first-child {
  border-bottom-left-radius: var(--borderRadius);
}

.rentals-prices tr:last-child td:last-child {  
  border-bottom-right-radius: var(--borderRadius);
} */

/* Franjas de colores */
.rentals-prices tr:nth-child(odd) {
  background-color: var(--background4);
  color: var(--text1);
}

.rentals-prices tr:nth-child(even) {
  background-color: var(--accent1);
  color: var(--text1);
}

.scooters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
 
.scooter {
  background-color: var(--background4);
  border: 3px solid var(--background1);  
  padding: 1rem 1rem 5rem 1rem; 
}

.scooter img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; 
  background-color: var(--background3); 
  margin-bottom: 1rem;  
}

.scooter-description {
  padding: 1rem;
  line-height: 2.5rem;
  background-color: var(--background3);
  border-radius: var(--borderRadius);
  border: 3px solid var(--background1);
  /* border-bottom-right-radius: 10px;*/
}

.scooter-description i:nth-child() {
  color: var(--accent2);
}

.scooter-description hr {
  border: 2px solid var(--accent2);
  margin: 1rem 0;
  width: auto;
}

.scooter-description p {
  margin-bottom: 1rem;
}

.scooter-description a {
  color: var(--text3);
  background-color: var(--accent2);  
  border-radius: var(--borderRadius);
  padding: 0.6rem 2rem;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--background1);
  text-decoration: none;
}

.scooter-description a:hover {
  background-color: var(--accent3);
}

.scooter-description a:visited {
  color: var(--text);
}

/* reservations */

.reservations, .contact {
  background-image: url("../images/background-doddle.webp");
  background-color: var(--background4); 
  padding: 0.5rem; 
}

.reservation-title, .contact-title {
  text-align: left;   
  display: flex; 
  align-items: center;
}

.reservation-title h2, .contact-title h2 {
  margin-right: 1rem;
}

.reservation-title i, .contact-title i { 
  color: var(--accent2); 
}

.reservations p {  
  line-height: 2.4rem;
}

.reservations-content, .contact-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.agreement-information, .contact-information {
  background-color: var(--accent1);  
  line-height: 2.5rem;
}

.agreement-information h3 span,
.user-contract h3 span,
.get-in-touch h3 span,
.contact-information h3 span
{  
  font-size: 1.8rem;
}

/* PENDIENTE */
.agreement-information hr, 
.contact-information hr
{
  margin: 1.5rem 0;
  border: 2px solid var(--accent2);
  width: 100%;
}

.agreement-information ul {
  list-style-type: none;
  list-style-position: inside;
}

.agreement-information li::marker {
  content: "▶ ";
  color: var(--accent2);
}

.user-contract fieldset, 
.get-in-touch fieldset 
{
  background-color: var(--background3);  
}

.user-contract fieldset:nth-child(1), 
.user-contract fieldset:nth-child(2)
{
  margin-bottom: 1rem;
}

.agreement-information, 
.user-contract fieldset,
.get-in-touch fieldset,
.contact-information
{ 
  border-radius: var(--borderRadius);
  border: 3px solid var(--background1);
  padding: 2rem 1rem;
}

.user-contract fieldset label,
.get-in-touch fieldset label
{
  display: block;
  margin-top: 1.7rem;
}

.user-contract fieldset sup {
  font-weight: 600;
}

.user-contract fieldset input[type="text"],
.user-contract fieldset input[type="tel"],
.user-contract fieldset input[type="email"],
.user-contract fieldset input[type="date"],
.user-contract fieldset input[type="number"],
.user-contract fieldset select, 
.get-in-touch fieldset input[type="text"],
.get-in-touch fieldset input[type="email"] 
{
  display: block;
  padding: .75rem;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 400px;  
  border-radius: var(--borderRadius);
}

.user-contract fieldset input[type="text"]:required,
.user-contract fieldset input[type="tel"]:required,
.user-contract fieldset input[type="email"]:required,
.user-contract fieldset input[type="date"]:required,
.user-contract fieldset input[type="number"]:required,
.user-contract fieldset select:required 
{
  border: 3px solid var(--accent2);
  appearance: none;
}

.user-contract fieldset input[type="text"]:valid,
.user-contract fieldset input[type="tel"]:valid,
.user-contract fieldset input[type="email"]:valid,
.user-contract fieldset input[type="date"]:valid,
.user-contract fieldset input[type="number"]:valid,
.user-contract fieldset select:valid
{
  border: 3px solid var(--accent1);
  appearance: none;
}

.user-contract fieldset input[type="text"]:optional {  
  border: 3px solid var(--background1); 
}

/* PENDIENTE */
.user-contract fieldset textarea,
.get-in-touch fieldset textarea
{
  display: block;
  border: 3px solid var(--background1);
  border-radius: var(--borderRadius);
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  resize: none;
}

.make-a-reservation-button, 
.send-a-message-button {
  cursor: pointer;
  border: 0;
  border-radius: var(--borderRadius);
  background-color: var(--accent2);
  color: var(--text3);
  padding: 0.8rem;
  width: 96%;
  max-width: 400px;
  margin: 1rem 2% 0 2%;
  box-shadow: 0px 8px 10px var(--accent4);
}

.make-a-reservation-button:hover,
.send-a-message-button:hover
{
  background-color: var(--accent3);
  transform: scale(0.99); 
}

.push-button-effect.make-a-reservation-button {
  transform: scale(0.98);
} 

/* contact */

.get-in-touch fieldset h3
{
  margin-bottom: 1rem;
}

.contact-content fieldset input[type="text"],
.contact-content fieldset input[type="email"]
{
  border: 3px solid var(--background1)
}

.locations {
  border-radius: var(--borderRadius);    
  /* padding: 1rem; */
}

.locations p:first-of-type {
  font-weight: 600;
}

.locations p:last-of-type {
  margin-bottom: 1rem;
}

.locations:first-of-type {
  margin-bottom: 2rem;
}

.map {  
  border-radius: var(--borderRadius);
  border: 3px solid var(--background1);
  position: relative;
  height: 20vh;
}

.locations iframe {
  display: block;  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius);
} 

/* footer */

footer {
  background-color: var(--background1); 
  color: var(--text3);
  text-align: center;
  line-height: 2.5rem;
  word-break: break-all;
}

.footer-main {
  padding: 3rem 1rem;
}

.footer-logo h2 {
  margin-bottom: 1rem;
}
#address-1 {
  margin-bottom: 2rem;
}
.footer-logo img {  
  width: 120px;
  height: 120px; 
  border: 3px solid var(--accent2);
  border-radius: 50%;
}

.footer-logo img:hover {
  box-shadow: 0 0 10px var(--accent2);
}

.footer-credits {
  background-color: var(--accent2);
  padding: 0.5rem;  
}