@media screen and (min-width: 65em) {
  a, li, p, span, #hamburger-button, figcaption, table, form {
    font-family: var(--contentText); 
    font-size: 1.5rem;
  }
  /* h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.25rem;
  }  */
  header {
    justify-content: space-around;
  }
  #hamburger-button {
    display: none;
  }
  #menu-close-button {
    display: none;
  }
  .navigation div {
    display: none;
  }
  .navigation {
    background-color: transparent;
    position: inherit;       
  }
  .navigation a {
    margin-right: 1rem;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation p {
    display: none;
  }
  /* hero  */
  .hero {
    height: 90vh;
  }
  .hero-label {
    left: 33%;
    width: fit-content;
    text-align: left;
  }  
  .hero-label a {
    margin: 0;
  }
  /* rentals */ 
  /* .rentals {
    padding: 0 1rem;    
  } */
  .rentals div {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;    
    margin: 0 auto;
  } 
  .rentals h2 {
    grid-column: 1/4;
  }
  .rentals i {
    grid-column: 1/4;
  }
  /* .rentals-list {
    text-align: left;
  } */
  #atvs {
    grid-column: 1/2;
    margin: 0;
  }
  #jeeps {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0;
  }
  #scooters {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0;
  }
  /* adventures */
  .adventures {
    padding: 12rem 0;
  }
  .rentals i, .adventures i, .weather i {
    margin-bottom: 4rem;
  }
  .adventures-content {   
    max-width: 1200px;
    margin: 0 auto;   
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  .adventures-image-content-1 {
    transform: rotate(-3deg); 
    grid-column: 1/2; 
    grid-row: 1/2;     
  }
  .adventures-image-content-2 {
    transform: rotate(3deg); 
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .adventures-image-content-1, .adventures-image-content-2 {
    cursor: pointer; 
    width: 450px;
    height: 550px;
    margin: 0 auto;
    box-shadow: 8px 8px 10px var(--background1);
  }
  .adventures-image-content-1:hover, .adventures-image-content-2:hover {
    box-shadow: none;
    transition: 0.5s ease-in-out; 
    transform: rotate(0);
  }   
  .polaroid-1, .polaroid-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .polaroid-1 hr, .polaroid-2 hr {
    width: 100%;
  }
  /* weather */
  .weather-content {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  /* prices */  
  .prices {
    padding: 3rem 1rem;
  }
  .rentals-prices th,  .rentals-prices td  {
    padding: 0.8rem;
  }  
  .scooters {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
  .scooter {    
    box-shadow: 4px 4px 10px var(--background1);
  }
  .scooter:hover {
    transform: scale(1.02) rotate(-3deg);
    transition: 0.3s ease-in-out;
  }
  .scooter-description:nth-child(2),
  .scooter-description:nth-child(4),
  .scooter-description:nth-child(6),
  .scooter-description:nth-child(8),
  .scooter-description:nth-child(10),
  .scooter-description:nth-child(12)
  {
    grid-column: 2/4;    
  }
  .scooter-description {
    padding: 3rem;   
    align-items: flex-start;
  }
  .scooter-description p {
    text-align: left;    
  }
  /* reservations */
  .reservations {
    padding: 3rem 1rem;
  }
  .reservations-content {
    grid-template-columns: 1fr 1fr;  
      
  }
  .reservation-title {
    grid-column: 1/3;
    grid-row: 1/2;    
    flex-direction: row;
  }
  .reservation-title h2 {
    margin-right: 1rem;
  }
  .agreement-information {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .user-contract {
    grid-column: 2/3;
    grid-row: 3/5; 
  }  
  .agreement-information, .user-contract fieldset {
    padding: 2rem 3rem;
  }
  /* footer */ 
  .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
  }
  .footer-logo {
    grid-column: 1/2;
    grid-row: 1/2;   
  } 
  .footer-logo div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .footer-logo h2 {
    margin-left: 1rem;
  }
  #address-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;    
  }
  #address-2 {
    grid-column: 3/4;
    grid-row: 1/2;    
  }
  .footer-credits {
    grid-column: 1/4;
  }
}