@media screen and (min-width: 32.5em) {  
  a, li, p, span, #hamburger-button, figcaption, table, form {
    font-family: var(--contentText); 
    font-size: 1.5rem;
  }
 
  /* rentals */
  .rentals div {
    grid-template-columns: 1fr 1fr;   
  } 
  .rentals h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .rentals i {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #atvs {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #jeeps {
    grid-column: 1/2;
    grid-row: 4/5;/
  }
  /* adventures */
  .polaroid-1 div h3, .polaroid-2 div h3 {
    margin-bottom: 0;
  }
  /* prices */
  .rentals-prices th,  .rentals-prices td  {
    padding: 0.5rem;
  }
  .scooters {
    grid-template-columns: 1fr 1fr
  }
  .scooter:nth-child(1) {    
    grid-column: 1/2;
    grid-row: 1/2;    
  }
  .scooter:nth-child(3) {    
    grid-column: 1/2;
    grid-row: 2/3;   
  }
  .scooter:nth-child(5) {    
    grid-column: 1/2;
    grid-row: 3/4;    
  }
  .scooter:nth-child(7) {    
    grid-column: 1/2;
    grid-row: 4/5;    
  }
  .scooter:nth-child(9) {    
    grid-column: 1/2;
    grid-row: 5/6;    
  }
  .scooter:nth-child(11) {    
    grid-column: 1/2;
    grid-row: 6/7;    
  }
  .scooter-description {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .scooter-description hr {
    width: 100%;
  }
  .scooter-description:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .scooter-description:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .scooter-description:nth-child(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .scooter-description:nth-child(8) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .scooter-description:nth-child(10) {
    grid-column: 2/3;
    grid-row: 5/6;    
  }
  .scooter-description:nth-child(12) {
    grid-column: 2/3;
    grid-row: 6/7;    
  }
  /* weather */
  .adventures-image-content-2 {
    z-index: 1;
  }
  .polaroid-1 div, .polaroid-2 div {
    display: flex;
    justify-content: center;
  }
  .polaroid-1 span, .polaroid-2 span {
    margin-left: 0.5rem;
  }
  .today-forecast div, .next-day-forecast div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .today-forecast p:nth-last-child(2), .today-forecast p:last-child, 
  .next-day-forecast p:nth-last-child(2), .next-day-forecast p:last-child
  {
    margin-left: 1rem;
  }
  /* reservations */
  /* .reservations {
    grid-template-columns: 1fr 1fr;
  } */
}