* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
}

body {
  margin: 0 auto;
  max-width: 900px;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

p, li, tr, .colors-container {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
}

header, footer {
  background-color: #023E8A;
  color: #FFFFFF;
  padding: 1rem; 
  text-align: center;
}

nav {
  background-color: #CAF0F8; /* #FCF300 */
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul a {
  color: #023E8A;
  text-decoration: none;
  padding: 1rem;
}

nav ul a:hover {
  background-color: #023E8A;
  color: #FFFFFF;
}

main {
  margin: 2rem;
  text-align: center;
  /* border: 2px dashed red; */
}

main h1, main h2, main h3, main hr, main p, main li {
  margin-bottom: 1.5rem;
}

main h1, main h2, main h3, main p, main li {
  color: #004480;
}

.colors-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1.5rem;
  gap: .5rem;
  
}

.colors-container > div {
  border: 1px solid #023E8A; 
  padding: 1rem;
}

.colors-container div:nth-child(1) {
  background-color: #023E8A;
  color: #FFFFFF;
}

.colors-container div:nth-child(2) {
  background-color: #023E8A;
  color: #FFFFFF;
}

.colors-container div:nth-child(3) {
  background-color: #F6FEFF;
  color: #023E8A;
}

.colors-container div:nth-child(4) {
  background-color: #FFFFFF;
  color: #023E8A;
}

.colors-container div:nth-child(5) {
  background-color: #E5FF24;
  color: #023E8A;
}

main hr {
  border: 1px solid #0044805e;
}

main p {
  line-height: 2rem;
}

main ol > li {
  /* CSS list-style-position Property - http://tinyurl.com/2p9nxteh*/
  list-style-position: inside;
}

.typography-section {
  background-color: #F6FEFF;
  border: 1px solid #023E8A;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1.5rem;
}

main h2::before {
  content: "📝 ";
}

.typography-section h2::before {
  content: none;
}

button {
  background-color: #E5FF24;
  padding: .8rem 2rem;
  font-family: 'Rubik', sans-serif;
  color: #023E8A ;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: #023E8A;
  color: #FFFFFF;
}

img + figcaption {
  font-family: 'Rubik', sans-serif;
  color: #023E8A;
}

