@media screen and (min-width: 65em) {
  .colors-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .wireframe-mobile-container img  {
    width: 20%;
    height: 20%;
  }
  .wireframe-large-container img {
    width: 40%;
    height: 40%;
  }
}