:root {
  --headerFooterBackground: #023E8A;
  --text1: #023E8A;
  --text2: #FFFFFF;
  --background1: #F6FEFF;
  --background2: #FFFFFF;
  --accent1: #FED906;
  --accent2: #FEE600;
  --headings: 'Open Sans', sans-serif;
  --paragraphs: 'Rubik', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7rem;
}

img {
  font-family: var(--paragraphs);
  font-size: .8rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--headerFooterBackground);
  color: var(--text2);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img + div {
  margin-left: .5rem;
}

h1, h2, h3 {
  font-family: var(--headings);
}


p, a, button {
  font-family: var(--paragraphs);
}

/* nav */
#menu {
  background-color: var(--headerFooterBackground);
  color: var(--text2); 
  font-size: 1.2rem;    
  font-weight: 600;
  width: 2.3rem;
  height: 2.3rem;
  border: 2px solid var(--background2);
  /* border-radius: 5px; */
}

#menu::before {
  content: '≡';
}

.navigation {
  list-style: none;
  background-color: var(--headerFooterBackground);
  border-top: 2px solid var(--accent1);
  position: absolute;
  top: 5.4rem;
  left: -100%;
  height: 100vh;
  width: 50vw;
  transition: left 0.3s ease-in-out; 
  cursor: pointer;
}

.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem 2rem;
  color: var(--text2);
  text-decoration: none; 
}

.navigation li a:hover {
  background-color: var(--accent1);
  color: var(--text1);
}

.navigation li a:active {
  background-color: var(--accent2);
}

.open.navigation  {
  left: 0;
}

.open li {
  display: block;
}

#menu.open::before {
  content: 'X';
}

/* main */
main {
  display: grid;
  grid-template-columns: 1fr; 
}

/* hero banner */
#hero-banner {
  background-color: var(--background2);  
  padding: 2rem 1rem;
  color: var(--text1);
}

#hero-banner button {
  display: block;
}

#hero-banner > div  { /* analizar si esta bien o no */
  margin-bottom: 2rem;
}

#hero-banner button { 
  background-color: var(--accent1); 
  color: var(--text1);
  padding: .7rem 2rem;
  border: 0;
}

#hero-banner button:hover {
  background-color: var(--accent2);
}

/* affiliated members */
#affiliated-members {  
  background-color: var(--background2);  
  color: var(--text1);
  padding: 2rem 1rem; 
  border-top: 1px solid var(--headerFooterBackground); 
}

#affiliated-members h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#affiliated-members > div > div {  
  aspect-ratio: 1/1;
  border: 1px solid var(--headerFooterBackground);
  background-color: var(--background1);
  width: 15rem;
  margin: 0 auto 2rem auto;
  
  
  /* the following properties are just temporal */
  color: var(--text1);
  font-style: italic;
  padding: 1rem;
  font-family: var(--paragraphs);
}

#affiliated-members p {
  text-align: center;
  margin-bottom: 2rem;
}

#affiliated-members div:last-child > p {
  margin-bottom: 0;
}

/* events */
#events {
  background-color: var(--headerFooterBackground);
  color: var(--text2);
  padding: 2rem 1rem;
}

#events h2, #events p {
  text-align: center;
  margin-bottom: 2rem;
}

#events div + div {
  background-color: var(--background1);
  aspect-ratio: 1/1;
  

  /* the following properties are just temporal */  
  margin: 0 auto;
  color: var(--text1);
  font-style: italic;
  padding: 1rem;
  font-family: var(--paragraphs);
}

/* weather */
#weather {
  background-color: var(--background2);
  color: var(--text1);
  padding: 2rem 1rem;  
}

#weather h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#weather div:nth-child(2) {
  aspect-ratio: 1/1;
  border: 1px solid var(--headerFooterBackground);
  background-color: var(--background1);
  width: 10rem;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  font-style: italic;
  font-family: var(--paragraphs);
}

#weather div:nth-child(3) {
  text-align: center;
  margin-bottom: 2rem;
}

#weather div:nth-child(4), #weather div:nth-child(5) {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#weather div:nth-child(5) {
  margin: 0;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--headerFooterBackground);
  color: var(--background2);text-align: center;
}

footer div {  
  margin-bottom: 1rem;
}

footer hr {
  width: 100%;
  margin-bottom: 2rem;
}

#last-modified {
  color: var(--accent2)
}