:root {
  --headerNavFooterBackground: #023E8A;
  --text1: #023E8A;
  --text2: #FFFFFF;
  --background1: #e4f9fc;   
  --background2: #FFFFFF;
  --background3: #f6feff; 
  --accent1: #FED906;
  --accent2: #FEE600;
  --headings: 'Open Sans', sans-serif;
  --paragraphs: 'Rubik', sans-serif;
  /* dark-mode */
  --mainDark: #202020;
  --secondaryDark: #303030;
  --thirdDark: #555555;
  --fourthDark: #888888; 
  --ligthHrColor: #023d8a80;
  --required: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

a, p, button, img, figcaption, li, label, textarea, input {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}

.banner {    
  background-color: var(--accent2);
  color: var(--text1);
  padding: 1rem;
  text-align: center;  
  line-height: 2rem;  
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.banner p {
  margin-right: 1.5rem;
}

.banner p::after {
  content: ' 🤝🏼💼';
}

.banner span {
  cursor: pointer;
  font-weight: 600;
}

.showBanner {
  display: flex;  
}

.closeBanner {
  display: none;
} 

header {
  background-color: var(--headerNavFooterBackground);
  color: var(--text2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 80px;  
  height: 80px;
  border-radius: 50%;
  margin-right: 1rem;
  /* border: 3px solid var(--accent2); */
}

header div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

header div:nth-child(2) > div:first-child {
  margin-bottom: 1rem;
}

header div:nth-child(2) > p:last-child {
  color: yellow;
}

#menu {
  background-color: transparent;
  border: 2px solid var(--background2);
  color: var(--text2);
  font-size: 1.7rem;
  width: 2rem;
  height: 2rem;
}

#menu::before {
  content: '≡';
}

.navigation {
  background-color: var(--headerNavFooterBackground);
  list-style: none;
  position:  absolute;
  top: 0;
  left: -100%;
  height: 100vh;  
  width: 50vw;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.open {
  left: 0;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: var(--text2);
  text-decoration: none;
  padding: 0.7rem 2rem;
}

.navigation a:hover {
  background-color: var(--accent2);
  color: var(--text1);
  transition: 0.3s;
}

.navigation.open li {
  display: block;  
}

#menu.open::before {
  content: 'X';
}

#active {
  background-color: var(--accent2);
  color: var(--text1);
}

body {
  max-width: 1150px;
  margin: 0 auto;
}

/* main {
  background-color: var(--background1);
} */

/* hero */
.hero {
  position: relative;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: brightness(0.8);
  background-color: var(--background1);
}

.hero-label {
  position: absolute;
  top: 0px;
  left: 0px;   
  background-color: #f6feff88;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0.5rem;
}

.hero-label p {
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.hero-label h2 {
  margin-bottom: 0.45rem;
}

.hero-label h2, .hero-label p {
  color: var(--text1);
}

.hero-label a {
  background-color: var(--accent2);
  color: var(--text1);
  border: 0;
  padding: 0.7rem 2rem;
  text-decoration: none;
  width: fit-content;
  
}

.hero-label a:visited {
  color: var(--text1);
}

.hero-label a:hover {
  background-color: var(--accent1);
  cursor: pointer;
  transition: 0.3s;
}
/* end hero */

/* affiliated members*/
.affiliated-members {  
  padding: 2rem 0.5rem; 
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.affiliated-members h2, .affiliated-members h3, .affiliated-members p {
  color: var(--text1);
}

.affiliated-members h3 {
  margin-bottom: 1rem;
}

.affiliated-members > section {  
  background-color: var(--background2);
  padding: 2rem 1rem;
  line-height: 2rem;
  /* box-shadow: var(--ligthHrColor) 0px 5px 8px; */
}

.affiliated-members > section p:first-of-type {
  font-weight: 600;
}

.affiliated-members > section > a {
  color: var(--text1);  
  text-decoration: none;
}

.affiliated-members > section a:visited {
  color: var(--text1);
}

.affiliated-members > section a:hover {
  text-decoration: underline;
}

/* events */
.events {
  background-color: var(--background1);
  border: 2px solid var(--headerNavFooterBackground);
  padding: 2rem 0.5rem; 
  text-align: center;
  color: var(--text1);
  line-height: 2rem;
}

.events h2::before {
  content: '📅 ';
}

.events > div > div {
  background-color: var(--headerNavFooterBackground);
  border-radius: 5px;
  color: var(--text2);
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--ligthHrColor) 0px 5px 8px;
}

/* verificar el orden de esta regla */
.events h2, .events hr, .events > div h3 {
  margin-bottom: 1rem;
}

.events span {
  margin-bottom: 1.7rem;
}

.events > div > div:nth-child(5) {
 margin-bottom: 0; 
}

.events hr {
  border: 1px solid var(--headerNavFooterBackground);
}

.events span {
  font-size: 2.8rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* weather */
.weather {    
  color: var(--text1);
  text-align: center;  
  display: grid;
  gap: 1rem;
}

.weather > div:nth-child(1), .weather > div:nth-child(2) {
  padding: 2rem 0.5rem;
}

#weather-icon img {
  display: block;
  margin: 0 auto;
  object-fit: cover;  
}

.weather div:nth-child(3), .weather div:nth-child(4) {
  line-height: 2em;
  margin-bottom: 1rem; 
}

.weather div:nth-child(4), .weather div:nth-child(5) {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.weather > div:nth-child(2) h2 {
  line-height: 2rem;
}

#forecast1, #forecast2, #forecast3 {
  border: 2px solid var(--headerNavFooterBackground);
}

/* discover page */
.discover-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0.5rem;
  line-height: 2rem;
  text-align: center;
  color: var(--text1)
}

/* discoger page - aside start */
aside > div {
  background-color: var(--headerNavFooterBackground);
  color: var(--text2);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

aside div > h2, aside div:nth-child(1) h3, aside div:nth-child(2) h3, aside div:nth-child(3) > h3 {
  margin-bottom: 1rem;
} 

aside hr {
  margin-bottom: 1rem;
  border: 1px solid var(--accent2);
}

aside div:nth-child(1) > h2::before {
  content: "📊 "
}

aside div:nth-child(3) {
  margin-bottom: 0;
}

aside div:nth-child(2) figure img, aside div:nth-child(3) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
  border: 2px solid var(--accent2);
} 

/* discoger page - div start*/
aside + div {
  background-color: var(--background1);
  border: 2px solid var(--headerNavFooterBackground);
  padding: 1rem;
}

aside + div figure h2 {
  margin-bottom: 2rem;
}

aside + div figure figcaption, aside + div figure figcaption a {
  color: var(--text1);
}

aside + div > div figure > picture > img {
  border: 2px solid var(--headerNavFooterBackground);
  width: 100%;
  height: 100%; 
  display: block;
  margin-bottom: 1rem;
}

figcaption, figcaption a  {
  color: var(--text2);
  font-size: .9rem;
  margin-bottom: 1rem;
  font-style: italic;
}

aside + div  p {
  margin-bottom: 2rem;
}

div:nth-child(6) p {
  margin-bottom: 0;
}

/* join page start */
.membership-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0.5rem;
}

/* join page - column 1*/
.membership-container div:nth-child(1) > div {
  background-color: var(--headerNavFooterBackground);
  color: var(--text2);
  line-height: 2rem;
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
}

.membership-container div:nth-child(1) div > h2,
.membership-container div:nth-child(1) div > hr
{
  margin-bottom: 1rem;
}

.membership-container div:nth-child(1) > div:nth-child(1) > h2:after {
  content: " 🤝🏽";
}

.membership-container div:nth-child(1) > div:nth-child(2) > h2:after {
  content: " ⭐";
}

.membership-container div:nth-child(1) > div:nth-child(3) > h2:after {
  content: " ⭐⭐";
}

.membership-container div:nth-child(1) > div:nth-child(4) > h2:after {
  content: " ⭐⭐⭐";
}

.membership-container div:nth-child(1) div > hr {
  border: 1px solid var(--accent2)
}

.membership-container div:nth-child(1) div > ul {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.membership-container div:nth-child(1) div > h3 {
  text-align: right;
}

.membership-container div:nth-child(1) div:nth-child(4) {
  margin-bottom: 0;
}
/* end join page - column 1*/

/* join page - column 2 */
.membership-container div:nth-child(2) form fieldset {
  background-color: var(--background1);
  color: var(--text1);
}

.membership-container div:nth-child(2) form fieldset:nth-child(1) > h2::after {
  content: " 📝";
} 
 
.membership-container div:nth-child(2) form fieldset:nth-child(2) > h2::after {
  content: " 🏆";
} 

.membership-container div:nth-child(2) form fieldset:nth-child(3) > h2::after {
  content: " 📄";
} 

.membership-container div:nth-child(2) form fieldset {
  padding: 2rem 1rem;
  border: 2px solid var(--headerNavFooterBackground);
  margin-bottom: 0.5rem;
} 

.membership-container div:nth-child(2) form fieldset:nth-child(1) label,
.membership-container div:nth-child(2) form fieldset:nth-child(2) label,
.membership-container div:nth-child(2) form fieldset:nth-child(3) label
{
  display: block;
  padding-top: 1.7rem;
}

.membership-container div:nth-child(2) form input[type="text"], 
.membership-container div:nth-child(2) form input[type="email"],
.membership-container div:nth-child(2) form input[type="tel"]
{
  display: block;
  border: 2px solid var(--headerNavFooterBackground);
  padding: .75rem;
  width: 100%;
  max-width: 400px;
  color: var(--text1);
  margin-top: .5rem;
  appearance: none;
}

.membership-container div:nth-child(2) form fieldset:nth-child(2) > label {
  cursor: pointer;
}

.membership-container div:nth-child(2) form fieldset:nth-child(2) input[type="radio"] {
  margin-right: 6px;
}

.membership-container div:nth-child(2) form fieldset:nth-child(2) span {
  font-weight: 600;
  background-color: #023E8A;
  color: var(--text2);
  padding: 0.33rem 0.5rem;
  border-radius: 6px;
}

.membership-container div:nth-child(2) form fieldset:nth-child(3) textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-top: .5rem;
  border: 2px solid var(--headerNavFooterBackground);
  padding: 1rem;
  color: var(--text1);
  resize: none;
}

.becomeAMemberButton {
  border: 0;
  background-color: var(--accent2);
  color: var(--headerNavFooterBackground);  
  padding: 0.8rem;
  width: 96%;
  max-width: 400px;
  margin: 0 2%;
}

.membership-container div:nth-child(2) form input:required {  
  border: 2px solid var(--required);
}

.membership-container div:nth-child(2) form input:required:valid {  
  border: 2px solid var(--headerNavFooterBackground); 
  border-left: 7px solid var(--headerNavFooterBackground);
}

.becomeAMemberButton:hover {
  background-color: var(--accent1);
}

/* thank you page start */
.thank-you {   
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: var(--background1);  
  color: var(--text1); 
  line-height: 2rem;
  text-align: center;
  padding: 0 1rem; 
}

.thank-you div {
  /* border: 2px dashed red; */
  padding: 1rem; 
}

.thank-you picture img {  
  /* border: 2px dashed red; */
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  display: block;  
}

.thank-you h2, .thank-you p {
  margin-bottom: 1rem;
}

.thank-you a {
  background-color: var(--accent2);
  text-decoration: none;  
  color: var(--text1);
  padding: .75rem;
}

.thank-you a:hover {
  background-color: var(--accent1);
}

.thank-you a:link {
  color: var(--text1);
}

.thank-you a:visited {
  color: var(--text1);
} 

/* directory page start */
.members-menu { 
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 0.5rem;
}

.members-menu #grid  {
  margin-right: 1rem;   
}

.members-menu #grid[autofocus] {
  outline: none;
}

.members-menu #grid, .members-menu #list {
  color: var(--text1);
  background-color: var(--background1);  
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.7rem;
  border: 2px solid var(--headerNavFooterBackground);
}

.members-menu #grid:focus, .members-menu #list:focus {
  background-color: var(--headerNavFooterBackground);
  color: var(--text2);
}

article p, article a {
  color: var(--text1);
} 

.grid {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

.grid section {
  background-color: var(--background2);
  padding: 1rem;
  line-height: 2rem;
  text-align: center;  
  word-break: break-word;
  box-shadow: var(--ligthHrColor) 0px 5px 8px;
}

.grid h2 {
  color: var(--text1);
}

.grid p:first-of-type, .grid p:nth-child(3) {
  display: none;
}

.list h2 {
  display: none;
}

.grid img {
  display: none;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0.5rem auto ;
  border-radius: 50%; 
  /* border: 2px solid var(--headerNavFooterBackground); */
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;  
}

.list section {
  padding: 1rem;
  line-height: 2rem;
  word-break: break-word;
}

.list section:nth-child(odd) {
  background-color: var(--background1);
}

.list img {
  display: none;
}

.grid section a, .list section a {
  text-decoration: none;
}

.grid section a:hover, .list section a:hover {
  text-decoration: underline;
}
/* end directory-page */

/* footer */
footer {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: center; 
  background-color: var(--headerNavFooterBackground);
  color: var(--background2);text-align: center;
  padding: 2rem 1rem;
}

.footer-logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* border: 4px solid var(--accent2); */
}

footer div:nth-child(1) img {
  margin-bottom: 1rem;
}

footer div {  
  margin-bottom: 1rem;
}

footer h3 {
  margin-bottom: 1rem;
}

footer p {
  line-height: 2rem;
}

footer div:nth-child(2) a {
  text-decoration: none;
  line-height: 2em;
  color: var(--text2);
}

footer div:nth-child(2) a:hover {
  text-decoration: underline;
}

footer div:nth-child(4) img {
  width: 2.5rem;
  margin-left: 1rem;
}

footer hr {
  width: 100%;
  margin: 1rem;
  border: 1px solid var(--accent2);
}

#last-modified {
  color: var(--accent2);
}
/* end footer */

/* dark mode */
#mode {
  cursor: pointer;
  /* font-size: 1.15rem; */
  text-align: center;
}

.dark-mode-backgroundPrimary {
  background-color: var(--mainDark);
  transition: 0.3s;
}

.dark-mode-backgroundSecondary {
  background-color: var(--secondaryDark);
  transition: 0.3s;
}

.dark-mode-backgroundThird {
  background-color: var(--thirdDark);
}

#dark-mode-text-1 {
  color: var(--mainDark);
}

#dark-mode-text-2 {
  color: var(--text2);
}

#dark-mode-hero-label {
  background-color: #888888c2;
}

#dark-mode-hero-button {
  background-color: var(--mainDark);
  color: var(--background2);
  transition: 0.3s;
}

#dark-mode-hero-button:hover {
  background-color: var(--thirdDark);
}

#dark-mode-event-button {
  background-color: var(--thirdDark);
  color: var(--text2);
}

#dark-mode-event-button:hover {
  background-color: var(--fourthDark);
}

.dark-mode-backgroundPrimary .navigation a:hover {
  background-color: var(--thirdDark);
  color: var(--text2);
}

.dark-mode-backgroundPrimary .navigation a:active {
  background-color: var(--fourthDark);
  color: var(--text2);
}

.dark-mode-backgroundPrimary #active {
  background-color: var(--thirdDark);
  color: var(--text2);
  transition: 0.3s;
}

.dark-mode-hr {
  border: 1px solid var(--thirdDark)
}

/* light mode elements */
header, h2, h3, p, body, .navigation, main, .events, hr, footer {
  transition: 0.3s;
} 