@media screen and (min-width: 32.5em) {
  .banner {
    padding: 0.5rem 1rem;
  }
  .banner p {
    text-align: left;
    margin-right: 0.25rem;
  }
  header {
    padding: 1rem;
  }
  .hero-label {
    top: 50px;
    left: 25px;
    padding: 1rem;
  }
  .affiliated-members {
    grid-template-columns: 1fr 1fr;   
  }
  .affiliated-members h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .affiliated-members section:nth-of-type(1) {
    grid-column: span 2;
    grid-row: auto;
  }   
  .affiliated-members section:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .affiliated-members section:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 3/4;
  } 
  .weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;      
  }
  .weather > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
  }
  .weather > div:nth-child(1) h2 {
    grid-column: span 3;
    grid-row: 1/2;
  }
  .weather > div:nth-child(1) > div:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 0;
  }
  .weather > div:nth-child(1) > div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 0;
  }
  .weather > div:nth-child(1) > div:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/3;    
  }
  /* discover page */
  .discover-section {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;    
  }
  aside {
    grid-column: 1/2;    
  }
  aside + div {
    grid-column: 2/4;  
    padding: 1rem 3rem;    
  } 
  aside > div {
    padding: 1rem 2rem;
  }
  /* than-you page*/
   .thank-you {
    grid-template-columns: 1fr 1fr;    
    text-align: left;
    padding: 0;
  }
  .thank-you div {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
    padding: 1rem 0 1rem 3rem; 
  }
}