@media screen and (min-width: 32.5em) {
  /* #affiliated-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  #affiliated-members h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 0;
  }
  #affiliated-members div > div {
    width: auto;
  }
  #affiliated-members p {
    width: auto;
    margin-bottom: 0;
  }
  #events {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  #events div:nth-child(1) {
    margin-right: 2rem;
  } */
} 