@media screen and (min-width: 65em) {
  header {
    justify-content: space-around;
  }
  #hamburger-button {
    display: none;
  }
  #menu-close-button {
    display: none;
  }
  .navigation div {
    display: none;
  }
  .navigation {
    background-color: transparent;
    position: inherit;       
  }
  .navigation a {
    margin-right: 1rem;
  }
  .navigation ul {
    display: flex;
  }
  .navigation p {
    display: none;
  }
  .hero {
    height: 100vh;
  }
  .hero-label {
    left: 39%;
    text-align: left;
  }
  .hero-label h2 {
    font-size: 4rem;
  }
  .hero-label h2, .hero-label p {
    margin-bottom: 2rem;
  }
  .hero-label a {
    margin: 0;
  } 
  .rentals {  
    
  }
  .rentals div {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    
    margin: 2rem auto 2rem
  } 
  .rentals h2 {
    grid-column: 1/4;
  }
  .rentals i {
    grid-column: 1/4;
  }
  #atvs {
    grid-column: 1/2;
  }
  #jeeps {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #scooters {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}