* {
  /* border: 1px solid rgb(10, 169, 205); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

 p, a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  /* border: 1px solid red; */
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;  
}

header img {
  /* border: 1px solid red; */
  background-color: #DDF842;
  width: 5rem;   
  border-radius: 8px;
}

header h1 {
  color: #DDF842;
}

nav {
  background-color: #DDF842;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li a {  
  /* border: 1px solid red; */
  display: block;
  color: #171717;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem; 
  border-bottom: 1px solid #17171730;
}

nav ul li a:hover {
  background-color: #171717; 
  color: #E1E1E1;   
}

main {  
  margin: 1rem;  
}

main h2 {
  text-align: center;
  color: #171717;
  border-bottom: 1px solid #17171730;  
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  border-radius: 8px;
  text-align: left;
  border: 1px solid #171717;
  background-color: #E1E1E1;
}

.card h3 {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #171717;
  color: #DDF842; 
  padding: .9rem;
}

.card ul li a, p {
  color: #171717;
}

.card ul {
  list-style-type: none;  
  padding: 1rem;
  line-height: 1.7rem;
}

.card p {
  text-align: center;
}

footer {
  background-color: #171717;
  text-align: center;
  padding: 1rem;
}

footer p {
  color: #E1E1E1; 
}

footer p:nth-child(1) {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* footer p:nth-child(2) {
  border: 1px solid red;
} */

footer img {
  width: 3em;
}

#lastModified {
  color: #ddf842;
}