@media screen and (min-width: 65em) {
  header {
    justify-content: center;
    gap: 3rem;
  }
  header img {
    width: 8rem;
  }
  /* hamburger button */
  #menu {
    display: none;
  }
  .navigation li {
    display: block;
  }
  /*  */
  nav ul  {
    /* Espacio distribuido dentro de los elementos: http://tinyurl.com/msvpnwbn */
    display: flex;
    /* justify-content: space-evenly; */
  }
  nav li {
    /* Espacio distribuido dentro de los elementos: http://tinyurl.com/msvpnwbn */
    flex: auto;
  }
  nav ul li a {
    border-bottom: none;
  }
  main {
    margin: 1rem 3rem;
  }
  main div {
    grid-template-columns: 65% 1fr;
  }
  main h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  .card {
    box-shadow: rgb(52, 52, 52) 5px 5px 10px;
  }
  .card h3 {
    text-align: center;
  }
  .iframe-container {
    padding-top: 56.25%;
    grid-column: 1/3;
  }
}